Package: com.brycedev.mia
Name: Mia
Depends: mobilesubstrate
Version: 2.0.0
Architecture: iphoneos-arm
Description: Mia alerts you when you've forgotten to send a message in the Messages app.
Maintainer: Bryce Jackson
Author: Bryce Jackson
Section: Tweaks
